<!-- EJS template for rendering the "About" page -->

<%- include("header.ejs") -%> <!-- Include the header template -->

<h2>About</h2>

<p> This web application project is created by Rudy Aldana.<br />
    This is a part of the Udemy full stack web development course conducted by Angela Yu.
</p>

<%- include("footer.ejs") -%> <!-- Include the footer template -->
